TCP-Client/.vs/TCP-Client/FileContentIndex/0a19d461-38e9-4cc8-bcf6-7c15be8b38a5.vsidx
TCP-Client/.vs/TCP-Client/FileContentIndex/2ab4fa97-7a72-45cf-81b4-56a36468f73c.vsidx
TCP-Client/.vs/TCP-Client/FileContentIndex/70e19f93-538d-4b1b-b6dd-2767ca5acdf0.vsidx
TCP-Client/.vs/TCP-Client/FileContentIndex/a553fc54-cfcf-4283-9cfa-57422f3e77ac.vsidx
TCP-Client/.vs/TCP-Client/v17/Browse.VC.db
TCP-Client/.vs/TCP-Client/v17/Browse.VC.db-shm
TCP-Client/.vs/TCP-Client/v17/Browse.VC.db-wal
TCP-Client/.vs/TCP-Client/v17/Browse.VC.opendb
TCP-Client/.vs/TCP-Client/v17/ipch/AutoPCH/48559660338f7438/TCP.ipch
TCP-Client/.vs/TCP-Client/v17/ipch/AutoPCH/c2e32c33d3781185/MAIN.ipch
TCP-Client/TCP-Client/TCP-Client.vcxproj.user
TCP-Client/TCP-Client/TCP-Client.vcxproj.filters
